@import "theme";

.DeltaFacts {
    .TimeFrameSummary {
        .quote {
            background: $theme_darker;
            padding: $theme_padd_squished;

            .Avatar img {
                width: 45px;
                height: 45px;
            }

            .text {
                vertical-align: top;
                padding: 15px;
                display: inline-block;
            }
        }
    }
}
