@import "theme";

.FactsDisplay {
    .facts {
        margin-left: 10px;

        .fact {
            cursor: pointer;
            width: fit-content;

            &.selected {
                background: $theme_text_highlight;
            }

            &.summary {
                display: inline-block;
                padding: 5px;
                background: $theme_darker;
                border: 3px;
                border-style: inset;
                border-radius: 30px;

                &.selected {
                    background: $theme_text_highlight;
                }
            }
        }
    }

    .Avatar {
        img {
            width: 30px;
            height: 30px;
        }
    }
}
