$row_height: 100px;

.Utterance {
    position: relative;
    width: 100%;
    height: $row_height;
    background: green;
    margin-bottom: 5px;
    user-select: none;

    .avatar {
        position: relative;
        display: inline-block;
        width: $row_height;
        height: $row_height;
        background: red;
        z-index: 95;

        img {
            box-sizing: border-box;
            padding: 5px;
            width: 100%;
            height: 100%;
        }
    }

    .content {
        position: absolute;
        left: 0px;
        background: purple;
        width: 100%;
        height: 100%;
        padding: 10px;
        padding-left: $row_height + 10;
        box-sizing: border-box;

        .name {
            font-size: 24px;
            font-weight: bold;
            display: block;
        }

        .text .part {
            &.selected {
                background: yellow;
            }
        }

        .fact {
            cursor: pointer;
            &.selected {
                background: yellow;
            }
        }
    }

    &.selected {
        background: aqua;
        .content {
            z-index: 90;
        }
    }
}
