@import "theme";

$row_height: 100px;

.Utterance {
    position: relative;
    width: 100%;
    cursor: pointer;
    background: $theme_utterance_default;
    margin-bottom: 5px;
    user-select: none;

    .Avatar {
        position: relative;
        width: $row_height;
        height: $row_height;
        z-index: 95;
        margin-left: -17px;
        margin-top: -17px;
        margin-bottom: (-(17 / 2)) px;
        float: left;

        img {
            box-sizing: border-box;
            padding: 5px;
            width: 100%;
            height: 100%;
        }
    }
    .part {
        &.selected {
            background: $theme_text_highlight;
        }
    }
    .content {
        display: block;
        box-sizing: border-box;
        color: black;
        min-height: $row_height;

        .name {
            display: block;
            font-weight: bolder;
            font-size: 25px;
        }

        .text {
            margin-bottom: 10px;
        }

        padding-top: 17px;
        padding-left: 17px;
        padding-right: 17px;
    }

    &.selected, &.selected .opened {
        background: $theme_utterance_selected;
    }

    &.hovered, &.hovered .opened {
        background: $theme_utterance_hovered;
    }

    &.selected.hovered, &.selected.hovered .opened {
        background: $theme_utterance_selected_hovered;
    }

    .opened {
        position: absolute;
        left: 0px;

        padding: 17px;
        padding-right: 17px;
        box-sizing: border-box;
        width: 100%;
        background: $theme_utterance_default;
        z-index: 120;
        border-bottom: solid black 30px;
    }
}
