@import "theme";

.WCV {
    all: initial;
    display: block;
    font-family: Georgia,serif;
    position: relative;
    width: 900px;
    height: 700px;
    background: $theme_darkest;

    .left {
        width: 50%;
        display: inline-block;
        height: 100%;
        overflow-y: scroll;

        .ChatDisplay {
            height: 100%;
        }
    }

    .right {
        vertical-align: top;
        background: theme_darkest;
        width: 50%;
        height: 100%;
        display: inline-block;
        overflow-y: scroll;

        .upper {
            width: 100%;
        }
    }
}
